.home {
    max-width: 1400px;
    margin: 60px auto;
    margin-top: -2rem;
    box-sizing: border-box;
}


@media (max-height: 800px) {
    nav.pagination {
        position: fixed;
        top: 11rem;
    }
}