.item-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2.7rem;
    margin: 2rem 5rem 0 5rem;
}

.item-list .card {
    background-color: #fff;
    color: #111;
    padding: 1.4rem;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .05);
    transition: all .3s ease;
    position: relative;
    border: 5px black;
    max-height: 10rem;
    margin-top: 2rem;
}

.id {
    color: black;
    text-align: center;
    font-weight: bold;
}

.item-list .card:hover {
    transform: scale(1.1);
}


.input {
    margin-bottom: 2rem;
}

.input input {
    width: 30%;
    margin: auto;
    text-align: center;
    outline: none;
    border-radius: 5px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


@media (max-width: 1000px) {
    .item-list .card {
        font-size: .9rem;
    }
}