.theme-selector {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    max-width: 1400px;
    margin: 1.5rem 5rem;
}

.theme-buttons div {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left: 15px;
    border-radius: 50%;
}

.mode-toggle {
    margin-right: auto;
}

.mode-toggle img {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;
}